@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif !important;
}

a {

    font-weight: bold;

    &:hover {
        text-decoration-color: coral !important;
    }

}

body {
    width: 100%;
    background-color: var(--white) !important;
}

html {
    font-size: 16px !important;


    &::-webkit-scrollbar {
        width: 3px;
        /* Thin width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--mainColor);
        /* Color of the scrollbar thumb */
        border-radius: 10px;
        /* Rounded corners */
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        /* Color of the scrollbar track */

    }
}


:root {
    --mainColor: #b0c4de;
    --mainColorDarker: rgb(56, 110, 141);
    --black: rgb(36, 36, 36);
    --white: #f3f3f3;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

nav {

    display: flex !important;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 5%;
    background: var(--mainColor);
    overflow: hidden;

    .hamburger-icon {
        display: none;
    }

    a {

        h1 {
            font-weight: 100;
            margin: 0;
            font-size: 3rem;
            color: var(--white);
        }

        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .link-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        z-index: 2000;

        a {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 5%;
            text-decoration: underline;
            text-decoration-color: transparent;
            text-underline-offset: 0px;
            text-decoration-skip-ink: none;
            color: var(--white);


            &:hover {
                color: var(--mainColorDarker);

                text-decoration-thickness: 0.15rem;
                text-underline-offset: 0.3rem;
                text-decoration-color: var(--mainColorDarker);

                transition: 0.1s;
            }

            &.active {

                text-decoration-thickness: 0.15rem;
                text-underline-offset: 0.3rem;
                text-decoration-color: var(--white);
            }
        }
    }


    @media only screen and (max-width: 600px) {
        height: 7vh;
        padding: 0 2%;

        h1 {
            font-size: 4vh !important;
        }

        .link-container {
            align-items: flex-start;
            flex-direction: column;
            position: absolute;
            background-color: white;
            top: 7vh;
            left: 0;
            display: none;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);

            a {
                width: 100%;
                padding: 15px;
                margin: 0;
                text-decoration: none;
                color: var(--mainColor);
                border-bottom: 1px solid var(--mainColor);

                &:last-child {
                    border: none;
                }

            }
        }



        .hamburger-icon {
            display: block;
            font-size: 4vh;
            color: var(--white);
            text-align: right;
            cursor: pointer;

        }
    }
}

.promo-carousel {
    background-image: url("../assets/top-bg.svg");
    background-size: cover;

    @media only screen and (max-width: 600px) {
        background: none;
    }

    .item {
        padding: 5%;
        height: 90vh;
        width: 100%;

        .slide {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);


            .img-container {
                width: 60%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    opacity: 0;
                    transform: translateX(+20px);
                    animation: fadeInUp 2s ease forwards;

                }

            }

            .text {
                width: 40%;
                height: 100%;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                color: var(--mainColor) !important;

                h2 {
                    width: 100%;
                    color: rgb(27, 27, 27);
                    max-width: 90%;
                    font-size: 2.3rem;
                    margin-bottom: 2rem;
                    opacity: 0;
                    transform: translateX(-20px);
                    animation: fadeInUp 2s ease forwards;
                    display: flex;
                    align-items: flex-end;
                }

                .description {
                    margin-bottom: 2vh;
                    color: var(--black);
                    width: 100%;
                    line-height: 1.2em;
                    /* Adjust this value based on your font size and line height */
                    height: 3.6em;
                    /* 3 lines * line-height */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    opacity: 0;
                    transform: translateX(-20px);
                    animation: fadeInUp 2s ease forwards;

                }

                a {
                    text-transform: uppercase;
                    border-radius: 10px;
                    padding: 1.5vh;
                    background-color: var(--black);
                    color: var(--white);
                    font-size: 1.5vh;
                    opacity: 0;
                    transform: translateX(-20px);
                    animation: fadeInUp 2s ease forwards;



                    &:hover {
                        background-color: var(--mainColorDarker);
                        text-decoration: none;
                        transition: 0.4s;
                    }
                }
            }

        }

        @media only screen and (max-width: 600px) {
            height: 80vh;
            padding: 2%;

            .slide {

                padding-bottom: 2vh;
                height: 100%;
                justify-content: flex-start;
                flex-direction: column-reverse;

                .img-container {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        transform: translateY(-20px);
                    }
                }

                .text {
                    padding: 0;
                    height: 50%;
                    width: 100%;
                    text-align: center;
                    align-items: center;
                    justify-content: space-between;

                    background: none;

                    h2 {
                        // height: 100%;
                        width: 100% !important;
                        max-width: 100% !important;
                        font-size: 3.5vh;
                        transform: translateY(+20px);
                        justify-content: center;
                        align-items: center;
                        margin: 0 !important;
                    }

                    .description {
                        font-size: 1rem;
                        max-height: 4rem;
                        max-width: 100%;
                        margin: 0 !important;
                        transform: translateY(+20px);
                    }

                    a {
                        transform: translateY(+20px);
                        font-size: 2vh;
                    }
                }

            }
        }
    }

}


.mission {
    height: 43vh;
    color: var(--white);
    padding: 3% 5%;
    background-color: var(--mainColor);

    .mission-container {
        display: flex;
        align-items: center;
        height: 100%;

        img {
            width: 30%;
            padding-right: 3%;
        }

        .text {
            height: 100%;
            text-align: justify;


            h2 {
                width: auto;
                font-size: 2.3rem;
                margin-bottom: 3%;
                text-decoration-line: underline;
                text-decoration-color: var(--white);
                text-underline-offset: 0.6rem;
                text-decoration-thickness: 3px;
            }

            p {
                font-size: 1.1rem;
                line-height: 1.8rem;
                font-weight: 500;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        height: auto;
        padding: 2% 5%;

        .mission-container {
            flex-direction: column-reverse;

            .text {
                h2 {
                    margin-bottom: 3vh;
                    text-align: center;
                    font-size: 3.5vh;
                }

                p {
                    line-height: 1.8vh;
                    font-size: 1.8vh;
                }
            }

            img {
                width: 100%;
            }
        }
    }
}

.goals {
    height: fit-content;
    padding: 3% 5%;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3, 1fr);

    .goal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        img {
            width: clamp(30%, 30%, 400px);
        }

        p {
            padding-bottom: 3%;
            border-bottom: 2px solid coral;
            width: 70%;
            text-align: center;
            font-size: 1.1rem;
            margin: 0;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 5%;
        gap: 0;
        height: fit-content;
        grid-template-columns: repeat(2, 1fr);

        .goal {
            padding-top: 5%;
            justify-content: space-between;


            p {
                width: 80%;
                line-height: 1.2rem;

            }
        }
    }

}

.projects-bg {
    background-color: var(--mainColor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text {
            h2 {
                padding: 2% 0;
                text-align: center;
                color: var(--white);
                font-size: 2.3rem;
                margin: 0;

            }

            p {
                color: white;
                font-size: 1rem;
                text-align: justify;
                line-height: 2rem;
                font-weight: 500;
                padding: 1% 15%;
            }
        }


    }

    @media only screen and (max-width: 600px) {
        background-position: bottom;

        .projects {


            .text {
                h2 {
                    text-align: center;
                    font-size: 3.4vh;
                    margin-bottom: 3vh;

                    padding: 4% 2%;
                }

                p {
                    padding: 1% 5%;
                    font-size: 1.8vh;
                    line-height: 2vh;
                }
            }

            .cta {
                a {
                    font-size: 3.4vh;
                    text-underline-offset: 1vh;
                    text-decoration-color: var(--mainColor);

                }
            }
        }
    }
}

.projects-grid {
    padding: 2% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;

    .project-card {
        border-radius: 10px;
        padding-bottom: 3%;
        overflow: hidden;
        text-decoration: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        border: 2px solid var(--white);
        color: var(--black);

        img {
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
        }

        h4 {

            margin: 0;
            padding: 3% 2%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 2.2vh;
        }

        p {
            font-size: 0.8rem;
            line-height: 1rem;
            margin: 0;
            padding: 0 2%;
            overflow: hidden;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* Limit the number of lines */
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            /* Add ellipsis for overflow text */
        }

        &:hover {

            transform: scale(1.03);
            transition: 0.5s;
        }
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);


    }
}

.cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4vh;

    a {
        text-transform: uppercase;
        margin: auto;
        font-size: 2.2vh;
        border-radius: 10px;
        background-color: var(--black);
        font-weight: bold;
        padding: 10px;
        color: var(--white);


        &:hover {
            color: var(--white);
            background-color: var(--mainColorDarker);
            text-decoration: none;

            transition: 0.4s;
        }
    }

    @media only screen and (max-width: 600px) {

        padding-top: 4vh;


        a {
            font-size: 2vh !important;
            text-underline-offset: 1vh;
            text-decoration-color: var(--mainColor);

        }
    }
}

.therapy {
    background-image: url('../assets/divider1.svg');
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h2 {

        padding: 2% 0;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 2.3rem;

        color: var(--black);
    }

    .content {
        background-image: url('../assets//blue-blob.svg');
        background-size: 33%;
        padding: 2% 5%;
        background-repeat: no-repeat;
        background-position: 95%;
        display: flex;
        justify-content: space-between;

        .options {
            width: 60%;
            text-align: justify;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            gap: 50px;


            p {
                font-size: 1.1rem;
                text-align: justify;
                line-height: 2rem;
                font-weight: 500;
                width: 700px;
                max-width: 100%;

                span {
                    &:first-child {
                        margin-top: 1.5rem;
                    }

                    font-size: 1.1rem;

                    display: block;
                }
            }





        }

        img {
            width: 30%;
            object-fit: contain;

        }
    }

    a {
        padding: 1.5vh;
        text-transform: uppercase;
        border-radius: 10px;
        font-size: 2vh;
        background-color: var(--black);
        color: var(--white);


        &:hover {
            background-color: var(--mainColorDarker);
            color: white;
            text-decoration: none;
            transition: 0.4s;
        }
    }

    @media only screen and (max-width: 600px) {
        h2 {
            text-align: center;
            font-size: 3.4vh;
            padding: 4% 2%;
            margin: 0;
        }

        .content {
            padding: 2% 5%;
            padding-bottom: 3rem;
            flex-direction: column-reverse;
            background-size: 100%;
            background-position: top;

            .options {
                width: 100%;

                p {
                    font-size: 1.8vh;
                    line-height: 2.5vh;

                    span {
                        font-size: 1.8vh;
                        margin-bottom: 0.6vh;
                    }
                }
            }

            img {
                width: 100%;
            }
        }

        a {
            margin: auto;
        }
    }
}

.last-posts {
    background-color: var(--mainColor);

    h2 {

        padding: 2% 0;
        text-align: center;
        color: var(--white);
        font-size: 2.3rem;
        margin: 0;


        @media only screen and (max-width: 600px) {
            text-align: center;
            font-size: 3.4vh;
            margin-bottom: 3vh;
            padding: 4% 2%;
        }
    }
}

.grid-container {
    min-height: 80vh;

    .grid {
        display: grid;
        padding: 2% 10%;
        padding-bottom: 0%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;



        .grid-card {
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            background-color: var(--mainColor);
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            color: black;
            text-decoration: none;
            border: 2px solid var(--mainColor);

            &:hover {
                border: 2px solid var(--mainColor);

                transform: scale(1.03);
                transition: 0.5s;
            }



            img {
                width: 100%;
                aspect-ratio: 4/3;
                object-fit: cover;
            }


            h3 {
                color: var(--white);
                height: 100%;
                font-size: 2vh;
                text-align: justify;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }
        }

        @media only screen and (max-width: 600px) {

            padding: 5%;
            grid-template-columns: repeat(1, 1fr);

        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;

    a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0 5px;
        text-decoration: none;
        background-color: white;
        border: 1px solid var(--mainColor);
        color: var(--mainColor);
        border-radius: 50%;


        &.current {
            background-color: var(--mainColor);
            color: var(--white);

        }
    }
}

.partners {
    width: 100%;
    overflow: hidden;

    h3 {

        padding: 1% 0;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 2.3rem;

        color: var(--black);
    }

    .partner-grid {
        padding: 2% 0;
        margin: auto;
        width: 90%;
        display: flex;
        white-space: nowrap;
        overflow: hidden;

        .partner-img {
            width: 10%;
            margin-right: 5%;
            object-fit: contain;

        }
    }

    @media only screen and (max-width: 600px) {
        h3 {
            font-size: 3.4vh;
            padding: 4% 2%;
            text-align: center;
        }

        .partner-grid {

            width: 96%;

            .partner-img {
                width: 22%;
            }
        }
    }
}

.footer {
    color: var(--white);
    padding: 1% 5%;
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 2.3rem;
    }

    p {
        text-align: justify;
        font-size: 1rem;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        svg {
            fill: var(--white);
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 2% 5%;

        h3 {
            font-size: 3vh;
            margin-top: 0;
        }

        p {
            text-align: center;
            font-size: 1.4vh;
        }
    }
}

.project-details {
    font-family: 'Roboto', sans-serif;
    padding: 3% 0%;
    text-align: center;
    width: 1200px;
    max-width: 90%;
    margin: auto;
    text-align: justify;

    h1 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }



    .photo-gallery {
        display: flex;
        height: 50vh;
        width: 100%;
        overflow-x: auto;
        padding-bottom: 10px;

        &::-webkit-scrollbar {
            width: 3px;
            /* Thin width of the scrollbar */
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--mainColor);
            /* Color of the scrollbar thumb */
            border-radius: 10px;
            /* Rounded corners */
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            /* Color of the scrollbar track */

        }

        img {
            margin-right: 20px;
            height: 100%;
            object-fit: contain;
            border-radius: 8px;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 5%;
        max-width: 100%;

        h1 {
            font-size: 3vh;
            text-align: left;
        }

        p {
            font-size: 1.8vh;
        }
    }
}

.blog {


    .blog-post {
        background-color: white;
        width: 1000px;
        padding: 3%;
        max-width: 90%;
        margin: auto;
        border-bottom: 2px solid var(--mainColor);

        h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.1rem;
            font-family: 'Roboto', sans-serif !important;
            text-align: justify;
        }

        img {
            width: 100%;
            object-fit: cover;
            margin-bottom: 2rem;

        }
    }

    @media only screen and (max-width: 600px) {
        .blog-post {
            padding: 5%;
            max-width: 100%;
            margin: 0;

            h2 {
                font-size: 3.5vh;
                text-align: left;
                margin-bottom: 2vh;

            }
        }
    }
}

.contact {
    height: 90vh;
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;



    .contact-info {
        height: max-content;
        display: flex;
        justify-content: center;

        iframe {
            margin-right: 50px;
        }

        .contact-details {
            h1 {
                margin-bottom: 2rem;
                font-size: 2.2rem;
                color: var(--mainColor);
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .option {
                display: flex;
                align-items: center;
                padding-bottom: 5px;
                border-bottom: 1px solid var(--mainColor);

                svg {
                    width: 50px;
                    height: 50px;
                    margin-right: 25px;
                    fill: var(--mainColor) !important;

                }

            }
        }
    }

    @media only screen and (max-width: 600px) {
        height: fit-content;
        padding: 5%;

        .contact-info {
            flex-direction: column-reverse;

            iframe {
                width: 100%;
            }

            .contact-details {
                margin-bottom: 3vh;
            }

            .option {
                &:last-child {
                    a {
                        padding-top: 5px;
                    }

                    justify-content: center;
                }
            }
        }
    }
}

.therapy-page {
    min-height: 90vh;
    position: relative;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    //Generating background for bottom half of a page
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: var(--mainColor);
        z-index: -1;
    }

    h1 {
        text-align: center;
        font-size: 2.3rem;
    }

    .grid-wrapper {

        .services-grid {
            height: fit-content;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1%;

            .card {
                border: 1px solid var(--mainColor);
                background-color: var(--white);
                border-radius: 1vh;
                padding: 3%;
                text-align: center;
                display: flex;
                flex-direction: column;


                img {
                    width: 100%;
                    object-fit: contain;

                }

                h2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height:4rem ;
                   font-size: 1.2rem;
                }

                p {
                    padding-top: 1.5vh;
                    height: 25vh;
                    flex: 1;
                    font-size: 0.9rem;
                    text-align: justify;
                }
            }
        }
    }

    .therapy-cta {
        text-decoration: none;
        cursor: pointer;
        font-size: 1.2rem;
        background-color: var(--black);
        padding: 1.5vh;
        border-radius: 10px;
        color: var(--white);
        text-align: center;

        &:hover {
            background-color: var(--mainColorDarker);
            transition: 0.4s;
            color: var(--white);
        }
    }

    @media only screen and (max-width: 600px) {
        height: fit-content;

        h1 {
            font-size: 3vh;
            padding: 2vh 0;
        }

        .grid-wrapper {
            .services-grid {
                display: flex;
                flex-wrap: wrap;

                .card {
                    width: 100%;
                    margin-bottom: 3%;
                }
            }
        }

        .therapy-cta {
            margin: 2rem 0;
        }
    }
}

.admin-panel {

    h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 100px;
        padding: 2vh;
        font-size: 3vh;
    }

    .admin-main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            font-size: 2vh;
            padding: 2vh;
            border-radius: 10px;
            background-color: var(--black);
            color: white;
            text-decoration: none;

            &:hover {
                background-color: var(--mainColorDarker);
                transition: 0.4s;
            }
        }
    }
}

.fas {
    font-family: "Font Awesome 5 Free" !important;
}

.admin-blog {
    .blog-form {


        h2 {
            text-align: center;
            margin-bottom: 3vh;
        }

        background-color: var(--mainColor);
        padding: 2% 5%;

        form {
            .title {
                width: 400px;
                max-width: 100%;
                padding: 5px;
                font-size: 1.8vh;
            }

            #myEditor {
                min-height: 200px;
            }

            .submit {
                margin-top: 10px;
                padding: 10px;
                font-size: 1.8vh;
            }

            .thumbnail {
                width: 400px;
                max-width: 100%;
                margin-bottom: 20px;
                display: none;
            }
        }
    }

    .blog-grid {
        padding: 2% 5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .blog-post {
            padding: 2%;
            background-color: white;
            display: flex;
            flex-direction: column;
            height: 40vh;
            justify-content: space-between;

            h2 {
                font-size: 1.6vh;
                min-height: 4vh;
            }

            img {

                width: 60%;
                margin: auto;

            }

            button {
                width: 100%;
            }
        }
    }
}

.blog-edit,
.project-edit,
.promo-edit {
    min-height: 100vh;
    padding: 2% 5%;
    background-color: var(--mainColor);

    form {

        .title,
        .description {
            width: 600px;
            max-width: 100%;
            padding: 5px;
            font-size: 1.8vh;
        }

        .description {
            min-height: 150px;
            resize: none;
        }

        #myEditor {
            min-height: 200px;
        }

        .submit {
            margin-top: 10px;
            padding: 10px;
            font-size: 1.8vh;
        }

        .thumbnail-preview {
            width: 400px;
            max-width: 100%;
            margin-bottom: 20px;

        }

        .images {
            display: flex;

            div {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                margin-right: 10px;


                img {

                    height: 150px;
                }
            }
        }
    }

}

.admin-project {
    .page-title {
        text-align: center;
        margin-bottom: 3vh;
    }

    background-color: var(--mainColor);

    form {
        padding: 2% 5%;

        .title {
            width: 400px;
            max-width: 100%;
            padding: 5px;
            font-size: 1.8vh;
        }

        #myEditor {
            min-height: 200px;
        }

        .submit {
            margin-top: 10px;
            padding: 10px;
            font-size: 1.8vh;
        }

        #thumbnailPreview {
            width: 400px;
            max-width: 100%;
            margin-bottom: 20px;
            display: none;
        }

    }

    .project-grid {
        form {
            padding: 0;
        }

        padding: 2% 5%;
        background-color: var(--white);
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }

        gap: 10px;

        .project-post {
            padding: 2%;
            background-color: white;
            display: flex;
            flex-direction: column;
            height: 40vh;
            justify-content: space-between;

            h2 {
                font-size: 1.6vh;
                min-height: 4vh;
            }

            img {

                width: 60%;
                margin: auto;

            }

            button {
                width: 100%;
            }
        }
    }
}

.admin-promo {
    .promo-form {
        h2 {
            text-align: center;
            margin-bottom: 3vh;
        }

        padding: 2% 5%;
        background-color: var(--mainColor);

        .title,
        .description {
            width: 400px;
            max-width: 100%;
            padding: 5px;
            font-size: 1.8vh;
            resize: none;
        }

        .description {
            min-height: 100px;
        }


        .submit {
            margin-top: 10px;
            padding: 10px;
            font-size: 1.8vh;
        }

        .thumbnail {
            width: 400px;
            max-width: 100%;
            margin-bottom: 20px;
            display: none;
        }
    }

    .promo-grid {
        padding: 2% 5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }

        gap: 10px;


        .promo-post {
            padding: 2%;
            background-color: white;
            display: flex;
            flex-direction: column;
            height: 40vh;
            justify-content: space-between;

            h2 {
                font-size: 1.6vh;
                min-height: 4vh;
            }

            img {

                width: 60%;
                margin: auto;

            }

            button {
                width: 100%;
            }

        }
    }
}